/*

    general

*/

  html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    width: $body-width;
    margin: auto;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  ::selection {
    background: $selection;
    color: $selection-text;
  }

  ::-moz-selection {
    background: $selection;
    color: $selection-text;
  }

  //  images

  img {
      max-width: 100%;
      border-radius: 2px;
    }