/*

		shortcuts

*/

	.red 			{background-color: $red;}
	.orange 		{background-color: $orange;}
	.yellow 		{background-color: $yellow;}
	.green 			{background-color: $green;}
	.blue 			{background-color: $blue;}
	.indigo 		{background-color: $indigo;}
	.violet 		{background-color: $violet;}
	.white 			{background-color: $white;}
	.black 			{background-color: $black;}

	.red-text 		{color: $red;}
	.orange-text 	{color: $orange;}
	.yellow-text 	{color: $yellow;}
	.green-text 	{color: $green;}
	.blue-text 		{color: $blue;}
	.indigo-text 	{color: $indigo;}
	.violet-text 	{color: $violet;}
	.white-text 	{color: $white;}
	.black-text 	{color: $black;}

	.padding 		{padding: 20px;}
	.margin			{margin: 20px;}
	.inline			{display: inline-block;}
	.float			{float: left;}
	.hide			{display: none;}

